
.log-reg {
    text-align: center;
    margin-top: 20px;
}

.log-reg p {
    margin-bottom: 10px;
}

.log-reg-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1d2434;
    background: none;
    border: 2px solid #1d2434;
    border-radius: 0;
    transition: .3s;
}
.btn:hover {
    color: #D5B981;
    background: #1d2434;
}
